<ion-view view-title="Innstillinger">
    <ion-content>

        <div class="list settingsList">
            <div class="item item-divider">Displays</div>
            <a class="item item-icon-right" href="#" ng-click="moreSettings(0)" title="Color/Contrast Settings">
                Color / Contrast
                <i class="icon ion-edit"></i> 
            </a>

            <a class="item item-icon-right" href="#" ng-click="moreSettings(1)" title="Text Settings">
                 Text Settings
                <i class="icon ion-ios-paper"></i>
            </a>

            <div class="item item-divider">Other Settings</div>
            <a class="item item-icon-right" href="#" ng-click="moreSettings(2)" title="Voice Settings">
                Voice Input 
                <i class="icon ion-mic-c"></i> 
            </a>

            <a class="item item-icon-right" href="#" ng-click="moreSettings(3)" title="Tactile Settings">
                Tactile Keyboard
                <i class="icon ion-grid"></i> 
            </a>

        </div>

    </ion-content>
</ion-view>